/* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;  
    z-index: 1000;   
    
}

.modal-content {
    border: solid black;
    width: 696px;
    height: 400px;
}
body.dark .modal-content {
    background-color: #222222;
    color: white;
}
.modal-close-btn-div{
    display: flex;
    justify-content:end;
}
.modal-close {

    color: hsl(24.6 95% 53.1%);
    border: none;
    background-color: white;
    display: none; 
}
.modal-cross-icon{
    margin-top: 3px;
}

.search-search-div {
    position: absolute;
    top: 1rem; 
    left: 1rem; 
    right: 1rem; 
    padding: 7px;
    border-radius: 30px;
    background-color: rgb(235, 236, 240);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 5px;
    z-index: 1; 
}
body.dark .search-search-div{
    background-color: #3e3e3e;
}
.search-search-div input{
    width: 90%;
    padding: 6px; 
    border-radius: 5px; 
    font-size: 15px;
    border:none; 
    transition: border 0.3s;
    background-color: rgb(235, 236, 240);
}
.search-search-div input:focus {
    outline: none;
    border: none;
}
body.dark .search-search-div input{
    border: none;
    background-color: #3e3e3e;
    color: white;
}
.modal-children {
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem; 
    border-radius: 10px; 
    margin-top: 1rem;
}

@media screen and (max-width: 400px){
    .modal-content{
        width: 100%;
        height: 100%; 
        max-width: none;
        max-height: none;
        border-radius: 0;
    }
    .search-search-div {
        position: fixed;
        left: 11px;
        width: 79%;
        padding: 7px;
        border-radius: 30px;
        background-color: rgb(235, 236, 240);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        gap: 5px;
        cursor: pointer;
        top: 13px;
    }
    .search-search-div input{
        width: 82%;
        font-size: 15px;
    }
    .modal-close {
        display: block;
        position: relative;
        bottom: 8px;
        font-size: 15px;
        left: 12px;
    }
    .modal-overlay{
        width: 100%;
    }
}

.modal-Content-inner-div{
    border: solid red;
} */


.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 1000;
    align-items: center;
}

.modal {
    margin: 10px;
    background-color: #fff;
    border-radius: 14px;
    width: 100%;
    max-width: 770px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* border: solid red; */
    height: 95vh;
}
body.dark .modal{
    background-color: #222222;
    color: white;
}
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.searchWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px 10px;
    flex: 2;
}

.searchIcon {
    font-size: 20px;
    color: #333;
    margin-right: 8px;
}
body.dark  .searchIcon{
    color: hsl(24.6 95% 53.1%);
}
input {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    flex: 3;
    padding: 5px;
}
body.dark .searchWrapper{
    background-color: #3e3e3e;
    color: white;
}
body.dark input{
    color: white;
}
button {
    padding: 8px 15px;
    color: hsl(24.6 95% 53.1%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}
body.dark button{
    background-color: #222222;
}
.searchedDataContainer {
    max-height: 550px;
    overflow-y: scroll;
    color: black;
}
body.dark .searchedDataContainer{
    color: white;
}
.searchedDataContainer::-webkit-scrollbar{
    display: none;
}

.searchedDataContainer ul {
    list-style: none;
}

.searchedItem {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    color: black;
}
@media screen and (max-width:400px){
    .searchedDataContainer{
        height: 370px;
    }
    .searchedDataContainer::-webkit-scrollbar{
        display: none;
    }
    .modal {
        margin: 5px;
        width: 100%;
        /* border: solid red;  */
        height: 100vh;
        border-radius: 0px;
    }
    .searchIcon {
        width: 35px;
        height: 4vh;
        color: hsl(24.6 95% 53.1%);
        /* margin-left: 96px; */
        cursor: pointer;
    }
}

