.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;  
    z-index: 1000;   
    /* border: solid;   */
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    color: black;
    height: 90vh;
    width: 60%;
    overflow-y: scroll;
    /* border: solid; */
}
.modal-content::-webkit-scrollbar{
    display: none;
}
body.dark .modal-content {
    background-color: #222222;
    color: white;
}
.modal-close {
    cursor: pointer;
    margin-bottom: 1rem;
    background: none;
    border: none;
    font-size: 1rem;
    color: #007bff;
}
.search-search-div{
    /* border: solid; */
    width: 100%;
    padding: 7px;
    border-radius: 30px; 
    background-color: rgb(235, 236, 240);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-color: #3e3e3e; */
    /* border: solid ; */
    gap: 5px;
    cursor: pointer;
}
.search-search-div input{
    width: 92%;
    padding: 6px; 
    border-radius: 5px; 
    font-size: 15px;
    border: 1px solid transparent; 
    /* background-color: #3e3e3e; */
    transition: border 0.3s;
    /* color: white; */
}