.third-page {
  display: grid;
  line-height: 50px;
  border: solid;
}
.third-pagecontainer {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  margin-top: 100px;
}
.third-pagecontent {
  border: solid;
}
