.question-container{
    color: white;
    max-width: 78%;
    min-width: 78%;
    /* border: solid red; */
    height: 85vh;
    overflow-x: scroll;
    padding: 20px;
    background-color: #3e3e3e;
    margin-right:20px;
    border-radius: 16px;
    width: 70%;
} 
body.light .question-container{
    color: black;
    background-color: rgb(233, 231, 231);
}
.question-container::-webkit-scrollbar{
    display: none;
}