* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.allData-main-container {
    display: flex;
    flex-direction: row;
    margin-top: 88px;
    border-top: 1px solid #555;
}

.allData-cont-div1 {
    border-right: 1px solid #555;
    width: 25%;
    height: 86.60vh; 
    overflow-y: auto;
    padding: 15px;
}

.allData-cont-div1 h2 {
    font-size: 14px;
    /* color: #333; */
}

li {
    list-style: none;
    font-size: 14px;
    /* background-color: #fff;  */
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

li:hover {
    background-color: #e0e0e0;
    color: black;
}

.allData-cont-div1::-webkit-scrollbar {
    width: 4px;
}

.allData-cont-div1::-webkit-scrollbar-thumb {
    /* background-color: #888; */
    border-radius: 3px;
    background-color: hsl(24.6 95% 53.1%);;
}


.allData-cont-div2 {
    /* background-color: #fff; */
    width: 75%;
    padding: 20px;
    overflow-y: auto;
    height: 86.60vh; 
}

.allData-cont-div2 h1 {
    font-size: 24px; 
    /* color: #222; */
    margin-bottom: 15px;
    color: white; 
}
body.light .allData-cont-div2 h1{ 
    color: black;
    background-color: #ffff;
}
.allData-cont-div2 div {
    font-size: 16px; 
    line-height: 1.5;
    color: white;
}
body.light .allData-cont-div2 div{ 
    color: black;
    background-color: #ffff;
}
.all-Data-BackBtn{
    display: flex;
    justify-content: end;
    font-size: 20px;
    cursor: pointer;
}
.selectedTopic{
    background-color: #e0e0e0;
    border-left: 4px solid white;
    padding-left: 10px;
    color: hsl(24.6 95% 53.1%);
    transition: background-color 0.1s;
}
body.light .selectedTopic{
    border-left: 4px solid black;
}

.code-example pre{
    font-size: 12px;
    background-color: #f2f1f1;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

@media (max-width:400px){
    .allData-main-container{
        display: block; 
    }
    .allData-cont-div1 {
        border-right: 1px solid #555;
        width: 100%;
        height: 27.6vh;
        overflow-y: auto;
        padding: 15px;
    }
    .allData-cont-div2 {
        width: 100%;
        height: 57.6vh;
        overflow-y: auto;
        padding: 15px;
    }
    .code-example pre{
        font-size: 12px;
        background-color: #f2f1f1;
        margin-top: 30px;
        padding: 20px;
        border-radius: 10px;
        font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;;
    }
}