* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/* .sidebar-main-container {
    background-color: #222;
    height: 100vh; 
    width: 100%;
}

.sidebar-left-container {
    background-color: rgb(255, 255, 255);
    border: solid white;
    height: 97%;
    width: 20%;
    position: fixed;
    top: 10px;
    margin-left: 20px;
    border-radius: 13px;
    padding: 20px;
    cursor: pointer;
}

.sidebar-left {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    padding: 9px;
    transition: background-color 0.3s;
    color: gray;
    border-radius: 10px;
}

.sidebar-left:hover {
    background-color: hsl(24.6 95% 53.1%);
    color: white;
}

.sidebar-left h2 {
    font-size: 13px;
}

.sidebar-left-icon {
    font-size: 20px;
}

 */

.sidebar-right-div1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
}
.sidebar-right-div1 h1{
    font-size: 52px;
    line-height: 60px;
}
.sidebar-right-div1 strong{

    color: hsl(24.6 95% 53.1%);
}
.sidebar-right-div1 p{
    font-size: 18px;
    line-height: 1.7;
}
.sidebar-main-container {
    background-color: #222;
    height: auto; 
    width: 100%;
    color: white;
    /* border: solid; */
    padding: 30px;
}
.cheatsheet-main-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
    gap: 20px;
}

.center {
    border: solid 1px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}

.center img {
    width: 100%;
    max-height: 10vh;
    object-fit: contain; 
}
.image-circle {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid hsl(24.6, 95%, 53.1%);
}

.center button {
    border-radius: 50px;
    background: transparent;
    text-decoration: none;
    color: hsl(24.6, 95%, 53.1%);
    font-size: 16px;
    line-height: 22px;
    padding: 10px 20px;
    border: 1px solid hsl(24.6, 95%, 53.1%) !important;
    transition: background 200ms ease;
}